<style>
    .containerNav {
        display: flex;
        background: #6EBFB6;
        padding: 10px;
    }
    
    .contest {
        display: fixed;
        background: #ED3E4B;
        height: 10px;
        width: 100%;
    }
    
    .item {
        flex-grow: 1;
        height: 100px;
        color: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    
    .item+.item {
        margin-left: 2%;
    }
    
    .headings {
        font-size: 50px;
    }
</style>
<div class="containerNav">
    <!-- Home link and Page name -->
    <div class="item">
        <a class="noDecoration" href="/">
            <h1 style="text-align: left; color: white; text-decoration: none  !important;">Home</h1>

        </a>
    </div>
    <div class="item">
        <div class="headings" style="text-align: center;"> {{page}} </div>
    </div>

    <!-- login or logout link -->
    <div class="item">
        {% if request.user.is_authenticated %}

        <a class="noDecoration" href="{% url 'logout' %}">
            <h1 style="text-align: right; color: white; text-decoration-line: none; text-decoration-color: white;">Logout</h1>

        </a> {% else %}
        <a href="{% url 'login' %}">
            <h1 style="text-align: right; color:white; text-decoration-line: none;">Login</h1>
        </a> {% endif %}
    </div>

</div>
<!-- bottom decoration -->
<div class="contest"></div>
<div class="contest" style="background: #E98D20;"></div>
<div class="contest" style="background: #FED760;"></div>