<style>
    .containerNav {
        display: flex;
        background: #6EBFB6;
        padding: 10px;
    }
    
    .contest {
        display: fixed;
        background: #ED3E4B;
        height: 10px;
        width: 100%;
        /* padding: 10px; */
    }
    
    .item {
        flex-grow: 1;
        height: 100px;
        color: white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }
    
    .item+.item {
        margin-left: 2%;
    }

    .headings {
        font-size: 50px;
       
    }
</style>
<div class="containerNav">

    <div class="item">
        <a class="noDecoration" href="/">
            <h1 style="text-align: left; color: white; text-decoration: none  !important;">Home</h1>
            <!-- <img src="../templates/images/circle4.png" width="50px" height="50px"> -->
        </a>
    </div>
    <div class = "item">
        <div class = "headings" style = "text-align: center;"> {{page}} </div>
    </div>

    <div class="item">
        {% if request.user.is_authenticated %}
        <!-- <p>Hello {{request.user}}</p> -->
        <a class="noDecoration" href="{% url 'logout' %}">
            <h1 style="text-align: right; color: white; text-decoration-line: none; text-decoration-color: white;">Logout</h1>
            <!-- <img src={{user.profile.profilePic}} alt="Girl in a jacket" width="100" height="100"> -->
        </a> {% else %}
        <a href="{% url 'login' %}">
            <h1 style="text-align: right; color:white; text-decoration-line: none;">Login</h1>
        </a> {% endif %}
    </div>

</div>
<div class="contest"></div>
<div class="contest" style="background: #E98D20;"></div>
<div class="contest" style="background: #FED760;"></div>
<!-- <hr> -->