<style>
    .container {
        display: flex;
        background: #6EBFB6;
        /* padding: 10px; */
    }
    
    .item {
        flex-grow: 1;
        height: 100px;
        color: white;
    }
    
    .item+.item {
        margin-left: 2%;
    }
</style>
<div class="container">

    <div class="item">
        <a href="/">
            <h1 style="text-align: left; color: white; text-decoration-line: none;">Home</h1>
            <!-- <img src="../templates/images/circle4.png" width="50px" height="50px"> -->
        </a>
    </div>
    <div class="item">
        <h1 style="text-align: center; color: #6EBFB6;">spacespacespacespacespacespace</h1>
    </div>
    <div class="item">
        {% if request.user.is_authenticated %}
        <!-- <p>Hello {{request.user}}</p> -->
        <a href="{% url 'logout' %}">
            <h1 style="text-align: right; color: white; text-decoration-line: none;">Logout</h1>
        </a> {% else %}
        <a href="{% url 'login' %}">
            <h1 style="text-align: right; color:white; text-decoration-line: none;">Login</h1>
        </a> {% endif %}
    </div>

</div>

<hr>