{% extends 'main.html' %} {% block content %}
<style>

</style>
<div>
    <h1 style="text-align: center;">Leaderboard</h1>
</div>
<div style="display: flex; flex-direction: row; flex-wrap: wrap;">

    <div>{% for profile in topSenders %}
        <p>{{profile.user.username}}</p>
        <p>{{profile.pointsReceived}}</p>{% endfor %}
    </div>



    <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <p style="color:black;">{{topSender}}</p>
    </div>
</div>


{% endblock content %}