{% extends 'main.html' %} {% block content %}
<style>
    .containerL {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        justify-content: center;
    }
    
    .itemL {
        width: 30%;
        padding-bottom: 10px;
        text-align: center;
    }
    
    .contestL {
        display: fixed;
        background: #008F97;
        height: 7px;
        width: 80%;
        align-items: center;
        justify-content: center;
        /* padding: 10px; */
    }
    
    .headerL {
        display: fixed;
        background: #ED3E4B;
        height: 5px;
        width: 100%;
    }
</style>
<h1 style="text-align: center;">Leaderboard</h1>
<div class="containerL">
    <div class="itemL">
        <h2>Rank</h2>
    </div>
    <div class="itemL">
        <h2>Username</h2>
    </div>
    <div class="itemL">
        <h2>Points</h2>
    </div>

</div>
<div class="headerL"></div>
<div class="containerL">
    {% for profile in topSenders %}
    <div class="itemL">
        <h2>{{ forloop.counter }}</h2>
    </div>
    <div class="itemL">
        <h3>{{profile.user.username}}</h3>
    </div>
    <div class="itemL">
        <h3>{{profile.pointsReceived}}</h3>
    </div>
    <div class="contestL"></div>
    {% endfor %}




    <!-- <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
        <p style="color:black;">{{topSender}}</p>
    </div> -->
</div>


{% endblock content %}