

{% if page == 'login' %}

<style>
    body{
        margin: 0px;
    }
    .container{
        display: flex;
        height: 100vh;
        

    }
    .left{
        width: 50vw;
        background: #6EBFB6;
        display: flex;
        justify-content: center;
        align-items: center;   
    }

    .right{
        width: 50vw;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
         
    }
    .message{
        font-weight: 550;
        font-size: 8vw;
        color: white;
        font: sans-serif;
        text-align: left;
    }

    loginLogo{
        color: black;
        font: sans-serif;
        font-size: 30px;
        text-align: left;
        margin: 10px;
    }
    .middle{
        width: 9vw;
        background: pink;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .line1{
        width: 3vw;
        height: 100vh;
        background: #ED3E4B;
        display: flex;
    }
    .line2{
        width: 3vw;
        height: 100vh;
        background: #E98D20;
        display: flex;
        
    }
    .line3{
        width: 3vw;
        height: 100vh;
        background: #FED760;
        display: flex;
        
    }

    .username{
        display: flex;
        font-size: 20px;
        align-items: center;
        margin: 20px;
    }
    .password{
        display: flex;
        font-size: 20px;
        align-items: center;
        margin: 20px;
    }
    submit{
        position: fixed;
        top: 500px;
        left:1000px;
        font-size: 20px;
    }
    .submitLogin{
        display: flex;
        font-size: 20px;
        align-items: center;
        margin: 20px;
    }
    .registerButton{
        display: flex;
        font-size: 15px;
        align-items: center;
        justify-content: center;
    }

    

</style>

<body>
    <div class = "container">
        <div class= "left">
            <div class = "message">
                Start<br> spreading <br> some<br> positivity 
            </div>
        </div>
        <div class="middle">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class = "right"> 
            <loginLogo>
                <h1 style="color:black" style="font-family: sans-serif">4positivity</h1>
            </loginLogo>

                
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class= "username">
                            <input type="text" name="username" placeholder="Username" style="width: 250px; padding: 5px;"/>
                        </div>

                        <div class= "password">
                            <input type="password" name="password" placeholder="Password" style="width: 250px; padding: 5px;"/>
                        </div>
                        <div class= "submitLogin">
                                <input type="submit" value="Login" style="padding: 5px 50px; width: 250px; background-color: #6EBFB6; color: white; border-radius: 10px; border-color: #6EBFB6"/>
                        </div>

                        <div class = "registerButton">
                        <a href="{% url 'register' %}">Create Account</a>
                        </div>

                        
                    </form>
                
        </div>
        
        

    </div>
</body>

{% else %}

<style>
    body{
        margin: 0px;
    }
    .container{
        display: flex;
        height: 100vh;
        

    }
    .left{
        width: 50vw;
        background: #6EBFB6;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .middle{
        width: 9vw;
        background: pink;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .line1{
        width: 3vw;
        height: 100vh;
        background: #ED3E4B;
        display: flex;
    }
    .line2{
        width: 3vw;
        height: 100vh;
        background: #E98D20;
        display: flex;
        
    }
    .line3{
        width: 3vw;
        height: 100vh;
        background: #FED760;
        display: flex;
        
    }

    .right{
        width: 50vw;
        background: white;
    }
    .message{
        font-weight: 550;
        font-size: 8vw;
        color: white;
        font: sans-serif;
        text-align: left;
    }

    

</style>

<body>
    <div class = "container">
        <div class= "left">
            <div class= "message">
                Start<br> spreading <br> some<br> positivity 
            </div>
        </div>
        <div class="middle">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
        </div>
        <div class = "right">
            <div>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" value="Register"/>
                </form>
                <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
</body>





   
<!--<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>-->



{% endif %}



<!--{
<div>
    <form method="POST" action="">
    

        <label>Username:</label>
        <input type="text" name="username" placeholder="Enter Username"/>

        <label>Password:</label>
        <input type="password" name="password" placeholder="Enter Password"/>
        
        <input type="submit" value="Login"/>
    </form>

    <p>haven't signed up yet?</p>
    <a href="{% url 'register' %}">Sign up</a>

</div>



<div>
    <form method="POST" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register"/>
    </form>
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
</div>


-->