{% extends 'main.html' %} {% block content %}
<style>
    * {
        margin: 0;
        border: 0;
        padding: 0;
    }
    
    .containerSet {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        margin: 20px;
    }
    
    .itemSet {
        height: 40px;
        margin-bottom: 10px;
    }
    
    .headerL {
        display: fixed;
        background: #E98D20;
        height: 5px;
        width: 60%;
        margin: auto;
    }
</style>
<p>{{settings}}</p>
<br>
<div class="headerL"></div>
<!-- change settings form -->
<div class="containerSet">
    <form method="POST" action="" , enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}

        <div class="itemSet">
            <br>
            <input type="submit" value="Update Settings " style="color: white; border-radius: 12px; background-color: #E98D20; height: 40px; width: 100px;" />
        </div>

    </form>
</div>
<br>
<div class="headerL"></div>

{% endblock content %}