{% extends 'main.html' %} {% block content %}
<div>
    <h1>Store</h1>
</div>
<div>
    <p style="color:black;">You have {{userPoints}} positivity points to spend!</p>
    {% for item in storeItems %}
    <p style="color:black;">{{item.name}}</p>
    <img src={{item.image}} alt={ {item.name}}>
    <p style="color:black;">Cost: {{item.cost}}</p>
    {% endfor %}
    <form method="POST" action="">
        {% csrf_token %} {{form.as_p}}
        <input type="submit" value="Buy" style="color: white; border-radius: 12px; background-color: #E98D20;" />
    </form>


</div>

{% endblock content %}